* {
  box-sizing: border-box;
}

/* .app {
  width: 200px;
  margin: 0 auto;
} */

/* Customers */
.customers img {
  width: 50px;
  border-radius: 50px;
}
.search-wrapper {
  /* border-bottom: solid 1px #aaa;
  padding: 5px;
  padding-left: 20px; */
  /* border: 1px solid red; */
  flex: 1;
}
.search-input,
.search-select {
  margin-bottom: 10px;
}

/* MENU */
.menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid gray;
}

/* .login-container {
  border: 1px solid red;
}
.customers-wrapper {
  border: 1px solid red;
} */
.customers-wrapper table {
  font-size: 12px;
}
.customers-wrapper table .btn {
  font-size: 12px;
  padding: 2px 4px;
}

/* single Customer page */
.single-customer-wrapper {
  border: 1px solid gray;
}
.single-customer-wrapper .row {
  border-bottom: 1px solid gray;
  display: flex;
}
.single-customer-wrapper .title {
  flex: 1;
  border-right: 1px solid gray;
  padding: 5px;
}
.single-customer-wrapper .desc {
  flex: 4;
  padding: 5px;
}
.single-customer-wrapper .desc input {
  width: 100%;
}
.single-customer-wrapper .btn {
  margin: 10px;
}
