* {
    box-sizing: border-box;
}
.app {
    width: 200px;
    margin: 0 auto;
}
.customers img {
    width: 50px;
    border-radius: 50px;
}
.row {
    border-bottom: solid 1px #aaa;
    padding: 5px;
    padding-left: 20px;
}
.row .title {
    font-weight: bold;
}
.row .title, .row .desc {
    padding-left: 10px;
    display: inline-block;
}
.menu {
    margin-top: 10px;
}
.menu li {
    display: inline-block;
    margin: 0 5px;
    background-color: #ddd;
    padding: 3px 10px;
    border-radius: 10px;
}
.actions {
    margin: 10px;
}
.actions button{
    margin-right: 10px;
}